<%= content_for :page_title, "Anonymous Feedback" %>
<%= content_for :header, "Feedback" %>

<% breadcrumb :feedex %>

<div class="row">
  <p class="lead col-md-8">
    At the bottom of every page on GOV.UK we ask, “is there anything wrong with this page?”. Users can leave comments on what they were doing and what went wrong. Feedback is anonymous and we’ve not removed spam.
  </p>
</div>

<div class="row">
  <div class="col-md-6">
    <h2 class="add-bottom-margin">By URL</h2>
    <%= semantic_form_for @explore_by_url, url: { action: "create" }, html: {class: 'well'} do |f| %>
      <%= f.input :url, label: "URL", required: true, input_html: { class: "input-md-5", :"aria-required" => true, type: "url"} %>
      <p class="help-block add-bottom-margin">eg <code>/vat-rates</code> or <code>https://www.gov.uk/bank-holidays</code></p>
      <%= f.action :submit, label: "Explore", button_html: { class: "btn btn-success" } %>
    <% end %>
  </div>
  <div class="col-md-6">
    <h2 class="add-bottom-margin">By organisation</h2>

    <form action="/anonymous_feedback/organisations" method="get" class="well">
      <label for="orgs">Organisation</label>
      <select id="orgs" name="id" class="add-bottom-margin select2 form-control input-md-5">
        <%= organisations.each do |o| %>
          <option value="<%= o.id %>"><%= o.title %></option>
        <% end %>
      </select>
      <input type="submit" value="Explore" class="btn btn-success">
    </form>
  </div>
</div>
