<%= content_for :page_title, "Anonymous Feedback" %>
<%= content_for :sub_header, "Feedback for" %>
<%= content_for :header, "Department for Education" %>

<% breadcrumb :feedex %>

<div class="text-right">
<ul class="pagination ">


      <li class="page active">
  <a href="/anonymous_feedback?path=%2F">1</a>
</li>

      <li class="page">
  <a rel="next" href="/anonymous_feedback?page=2&amp;path=%2F">2</a>
</li>

      <li class="page">
  <a href="/anonymous_feedback?page=3&amp;path=%2F">3</a>
</li>

      <li class="page">
  <a href="/anonymous_feedback?page=4&amp;path=%2F">4</a>
</li>

      <li class="page">
  <a href="/anonymous_feedback?page=5&amp;path=%2F">5</a>
</li>

      <li class="page gap disabled"><a href="#" onclick="return false;">…</a></li>
  <li class="next_page">
  <a rel="next" href="/anonymous_feedback?page=2&amp;path=%2F">Next ›</a>
</li>

  <li class="last next">
  <a href="/anonymous_feedback?page=71&amp;path=%2F">Last »</a>
</li>

</ul>
</div>

<table class="table table-bordered">
  <thead>
    <tr class="table-header">
      <th>Page</th>
      <th>7 days</th>
      <th>30 days</th>
      <th>90 days</th>
    </tr>
  </thead>
  <tbody>

    <% [
      {url: 'https://www.gov.uk/apply-uk-visa', title: 'Apply for a UK Visa'},
      {url: 'https://www.gov.uk/check-uk-visa', title: 'Check if you need a UK visa'},
    ].each_with_index do |m, i|
      j = 20 - i
    %>
      <tr>
        <td>
          <strong><a href="#" class="remove-top-margin remove-bottom-margin"><%= m[:title] %></a></strong><br />
          <a href="#" class="text-muted"><%= m[:url].sub(/https:\/\/www.gov.uk/, '') %></a>
        </td>
        <td>
          <a href="#"><%= rand(j*3..j*10) %> items</a>
        </td>
        <td>
          <a href="#"><%= rand(j*10..j*20) %> items</a>
        </td>
        <td>
          <a href="#"><%= rand(j*20..j*60) %> items</a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
