<%= content_for :page_title, "Anonymous Feedback" %>
<%= content_for :sub_header, "Feedback for" %>
<%= content_for :header, @organisation.title %>

<% breadcrumb :feedex %>

<table class="table table-bordered" data-module="filterable-table">
  <thead>
    <tr class="table-header">
      <th style="width: 800px">Page</th>
      <th>7 days</th>
      <th>30 days</th>
      <th>90 days</th>
    </tr>
    <tr class="if-no-js-hide table-header-secondary">
      <td colspan="4">
        <form>
          <label for="table-filter" class="rm">Filter organisations</label>
          <input id="table-filter" type="text" class="form-control normal js-filter-table-input" placeholder="Filter table">
        </form>
      </td>
    </tr>
  </thead>
  <tbody>
    <% @organisation.content_items.sort_by(&:path).each do |content_item| %>
      <% path = content_item.path
         problem_reports = content_item.problem_reports %>
      <tr>
        <td>
          <a href="/anonymous_feedback?path=<%= path %>" class="breakable"><%= path %></a>
        </td>
        <td>
          <a href="#"><%= problem_reports.count %> items</a>
        </td>
        <td>
          <a href="#"><%= problem_reports.count %> items</a>
        </td>
        <td>
          <a href="#"><%= problem_reports.count %> items</a>
        </td>
      </tr>
    <% end %>

    <% [
      {url: 'https://www.gov.uk/apply-uk-visa', title: 'Apply for a UK Visa'},
      {url: 'https://www.gov.uk/check-uk-visa', title: 'Check if you need a UK visa'},
    ].each_with_index do |m, i|
      j = 20 - i
    %>
      <!--<tr>
        <td>
          <strong><a href="#" class="remove-top-margin remove-bottom-margin"><%= m[:title] %></a></strong><br />
          <a href="#" class="text-muted"><%= m[:url].sub(/https:\/\/www.gov.uk/, '') %></a>
        </td>
        <td>
          <a href="#"><%= rand(j*3..j*10) %> items</a>
        </td>
        <td>
          <a href="#"><%= rand(j*10..j*20) %> items</a>
        </td>
        <td>
          <a href="#"><%= rand(j*20..j*60) %> items</a>
        </td>
      </tr>-->
    <% end %>
  </tbody>
</table>
