<% if anonymous_contact.is_a?(Support::Requests::Anonymous::ProblemReport) %>
  <% if anonymous_contact.what_doing.present? %>
    <div class="bold">
      <span class="rm">Action:</span>
      <%= anonymous_contact.what_doing.capitalize %>
    </div>
  <% end %>
  <% if anonymous_contact.what_wrong.present? %>
    <span class="rm">Problem:</span>
    <%= anonymous_contact.what_wrong.capitalize if anonymous_contact.what_wrong %>
  <% end %>
<% elsif anonymous_contact.is_a?(Support::Requests::Anonymous::ServiceFeedback) %>
  <div <% if anonymous_contact.details.present? %>class="add-label-margin"<% end %>>
    <% anonymous_contact.service_satisfaction_rating.times do %>
      <span class="glyphicon glyphicon-star"></span>
    <% end %>
    <% (5 - anonymous_contact.service_satisfaction_rating).times do %>
      <span class="glyphicon glyphicon-star-empty text-muted"></span>
    <% end %>
    <b class="add-left-margin">
      <%= anonymous_contact.service_satisfaction_rating %> – 
      <%= how_satisfied(anonymous_contact.service_satisfaction_rating) %></b>
  </div>
  <% if anonymous_contact.details.present? %>
    <%= anonymous_contact.details %>
  <% end %>
<% else %>
  <%= anonymous_contact.details %>
<% end %>
