<% if anonymous_contact.is_a?(Support::Requests::Anonymous::ProblemReport) %>
  <div class="bold"><%= anonymous_contact.what_doing.capitalize %></div>
  <%= anonymous_contact.what_wrong %>
<% elsif anonymous_contact.is_a?(Support::Requests::Anonymous::ServiceFeedback) %>
  <strong>rating</strong>: <%= anonymous_contact.service_satisfaction_rating %>
  <% if anonymous_contact.details.present? %>
    <br/>
    <strong>comment</strong>: <%= anonymous_contact.details %>
  <% end %>
<% else %>
  <%= anonymous_contact.details %>
<% end %>
